.loader {
  display: inline-block;
  height: 64px;
  width: 64px;
  margin-right: auto;
  margin-left: auto;
}

.loader:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #cef;
  border-color: #000000 transparent #000000 transparent;
  animation: loader 1.2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 20%;
}

.pagination a.active {
  background: #777777;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-page-heading {
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;

  backface-visibility: hidden;
}

.main-page-sub-heading {
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;

  backface-visibility: hidden;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.button {
  text-decoration: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 25px;
  transition: all 0.2s;
  position: relative;
  border: none;
  margin-top: 30px;
}

.button-pink {
  background-color: #cca8e9;
  color: white;
}

.animate-from-bottom {
  animation: moveInBottom 0.8.s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.button:active {
  transform: translateY(-1px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.button-pink::after {
  background-color: #cca8e9;
}

.button:hover::after {
  transform: scaleY(1.4) scaleX(1.6);
  opacity: 0;
}

.button-animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
